<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @question_and_answer %>

    <%# Commented out these lines as they are giving too much power. %>
    <%# <%= link_to "Edit this question and answer", edit_question_and_answer_path(@question_and_answer), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%# <%= link_to "Back to question and answers", question_and_answers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%# <div class="inline-block ml-2"> %>
      <%# <%= button_to "Destroy this question and answer", @question_and_answer, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%# </div> %>
  </div>
</div>
